header{
  height: 100vh;
  color: $textColor;
  background: lightblue;
  button{
    background: $primaryBtn;
    outline: none;
    border: none;
    padding: 5px 20px;
    color: #fff;
    &:hover{
      background: lightcoral;
    }
  }
}