* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

body {
    
}

.loader__container {
    position: absolute;
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 100;
}

.loader {
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    width: 64px;
    height: 64px;
    border-radius: 50%;
    perspective: 800px;
    overflow: hidden;
}
  
.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;  
}
  
.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 3px solid #EFEFFA;
}
  
.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 3px solid #EFEFFA;
}
  
.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 3px solid #EFEFFA;
}
  
.landing__page {
    background-image: url('../media/dino.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.header__text {
    position: relative;
    left: 60%;
    top: 25%;
    z-index: 1;
    color: #000;

    h3{
        font-size: 2.5rem;
    }

    h1{
        font-size: 3.5rem;
        color: red;
        text-shadow: 2px 2px 3px #000;
    }

    .social__media{
        padding: 15px 0 15px 2px;
        display: flex;

        div{
            margin-right: 15px;
            padding: 3px;
            cursor: pointer;

            a{
                transition: transform 0.5s ease-in-out;
                :hover{
                    transform: scale(1.1);
                    transition: transform 0.5s ease;
                }
            }
        }
    }


    .contact__btn{
        button{
            margin-left: 3.5vw;
            padding: 10px 25px;
            color: #fff;
            font-weight: bold;
            background-color: red;
            border: none;
            border-radius: 5px;
        }

        :hover{
            cursor: pointer;
            transform: scale(0.95);
            transition: transform 0.5s ease;
        }
    }  
}



@keyframes rotate-one {
    0% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-two {
    0% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
  
@keyframes rotate-three {
    0% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
      transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}